*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 50px;
}

h1,p,h3,h2 {
    text-align: center;
}

h1 {
    margin-bottom: 20px;
}

p {
    margin-bottom: 30px;
    font-size: 20px;
}

.point p {
    font-size: 25px;
}

.down_arrow {
    position: relative;
    font-size: 50px;
    top: 10px;
}

h3 {
    margin-top: 30px;
}

.choice {
    display: flex;
    gap: 50px;
    justify-content: center;
}

.point {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 30px;
}

.human {
    color: #ffffff;
    text-align: center;
    padding: 10px;
    background-color: hsl(20, 95%, 49%);
    border-radius: 5px;
}

.computer {
    color: #ffffff;
    text-align: center;
    padding: 10px;
    background-color: hsl(293, 83%, 20%);
    border-radius: 5px;
}

button {
    padding: 10px;
    font-size: 30px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

button:nth-child(1){
    background-color: red;
}
button:nth-child(2){
    background-color: green;
}
button:nth-child(3){
    background-color: blue;
}

h2 {
    font-size: 50px;
    color: hsl(170, 100%, 51%);
}